IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_SUPERBLOQUE=/home/elperee/UTN/SO/utnso/fs/superbloque.dat
PATH_BITMAP=/home/elperee/UTN/SO/utnso/fs/bitmap.dat
PATH_BLOQUES=/home/elperee/UTN/SO/utnso/fs/bloques.dat
PATH_FCB=/home/elperee/UTN/SO/utnso/fs/fcb
RETARDO_ACCESO_BLOQUE=15000